form .navSearch {
    align-self: center;
    justify-self: center;
}

ul.nav.nav-pills {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-right: 3em;
}

.videoTitle {
    font-family: Roboto;
    font-size: 28px;
    line-height: 24px;
}