


form .navSearch {
    align-self: center;
    justify-self: center;
}

ul.nav.nav-pills {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-right: 3em;
}

.videoTitle {
    font-family: Roboto;
    font-size: 22px;
    line-height: 24px;
}

.descriptionText {
    font-size: 12px;
    font-weight: 400;
    margin-left: 5em;
    margin-top: 2em;
    padding-bottom: 1em;
}

.userInfo {
    border-top: 0.8px solid lightgrey;
    border-bottom: 0.8px solid lightgrey;
}
.entirePage {
    display: flex;
    justify-content: space-around;
    margin-top: 5em;
}

.commentBox {
    width: 100%;
}

.commentButton {
    float: right;
    display:none;
}

aside {
    width: 200px
}

.likeColor {
    color: #075ED4
}

.likesAndDislikes {
    display: flex;
}

.titleAndRatings {
    display: flex;
    justify-content: space-between;
}


.views {
    color: grey;
    font-weight: 400;
    font-size: 1.05em;

}

.video_uploader {
    display: flex;
    justify-content: space-between;
    padding-top: 1em;
}

.user_profile_picture {
    width:55px;
    height: 50px;
    border-radius: 50%;
    object-fit:cover;
}


.entirePage {
    max-width: 100%;
}

.currentPage {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (max-width: 915px) {
    aside {
        display: none;
    }
}

video {
    width: 100%;
    height: auto;
}

.videoAndComments {
    max-width: 750px;
}

.pictureAndChannelName {
    display: flex;
    
}

.channelName {
    margin-left: 1em;
}