


form .navSearch {
    align-self: center;
    justify-self: center;
}

ul.nav.nav-pills {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-right: 3em;
}

.videoTitle {
    font-family: Roboto;
    font-size: 28px;
    line-height: 24px;
}

.entirePage {
    display: flex;
    justify-content: space-around;
    margin-top: 5em;
}

aside {
    width: 200px
}

.likeColor {
    color: #075ED4
}

.likesAndDislikes {
    display: flex;
}

.titleAndRatings {
    display: flex;
    justify-content: space-between;
}


.views {
    color: grey;
}