{% extends 'vid_corner_app/base.html' %}

{% block profile_view %}
<body>
<div class ="profile_container">
    <div class="profile_header_info">
        <div class ="headerPicture" style="background-image: url('{{ user.profile.header_picture.url}}')">

        </div>
        <div class='picNameSubscribe'>
            <div class='profilePicAndInfo'>
            <div class='profilePicture'>
                <img class='profilePic' src='{{ user.profile.profile_picture.url }}' width="auto" height="250px" alt="">
            </div>
            <div class='nameAndSubscriberCount'>
                <h3 class='profileName'>{{user.profile.channel_name }}</h3>
                <h6 class='views'>Subscriber count will go here</h6>
            </div>
            </div>
        
        <div class='userSubscribe'>
                <form class='subscribeForm' method='POST' enctype="multipart/form-data" novalidate>
                    <input type='hidden' class='theSubscriberId' value={{request.user.id}}>
                    <input type='hidden' class='theSubscribeeId' value={{user.id}}>
                    <button type='submit' class='subscribeButton'>subscribe</button>
                </form>
        </div>
        </div>
    </div>
    <div class='profileVideos'>
        <h2>Video Uploads</h2>
        <div class='profileVideoContainer'>
            {% for video in videos %}
            <div class="singleVideo">
                    <a class='videoLink' data-id={{video.pk}} href="{% url 'video_detail' pk=video.pk %}"><video class='homePageVideo' width= 300px>
                        <source src='{{video.video.url}}' >
                    </video></a>
                    <h4>{{video.title}}</h4>
                    <p class='suggestedVidInfo'>{{video.user.profile.channel_name}}</p>
                    <h6 class='suggestedVidInfo'>{{video.views}} views</h6>
                    </div>
            {% endfor %}
        </div>
    </div>
</div>    
</body>
{% endblock %}
