{% extends 'vid_corner_app/base.html' %}
{% load staticfiles %}



{% block video_detail %}
<div class='entirePage'>

<div class='videoAndComments'>
<!-- <div class ='videoContainer'> -->
<video preload='auto' controls autoplay>
    <source src="{{video.video.url}}">
</video>
    <!-- </div> -->
<section class='titleAndRatings'>
<section class='titleAndViews'>
<h2 class='videoTitle'>{{ video.title }}</h2>
<h6 class='views'>{{video.views}} views</h6>
</section>
<section class='likesAndDislikes'>
<form class="likeForm" method="POST" enctype="multipart/form-data" novalidate>
{% csrf_token %}
<input class='user' type='hidden' name='user' value={{request.user.id}}>
<input type='hidden' class='videoId' name='videoId' value={{video.id}}>
<button type='submit' class='videoLike'><i class="far fa-thumbs-up"></i></button>
<h4 class='likeCounter' data-id='{{numberOfLikes}}'>{{numberOfLikes}}</h4>
</form>
<form class="dislikeForm" method="POST" enctype="multipart/form-data" novalidate>
    {% csrf_token %}
    <input class='user' type='hidden' name='user' value={{request.user.id}}>
    <input type='hidden' class='videoId' name='videoId' value={{video.id}}>
    <button type='submit' class='videoDislike'><i class="far fa-thumbs-down"></i></button>
    <h4 class='dislikeCounter' data-id='{{numberOfDislikes}}'>{{numberOfDislikes}}</h4>
</form>
</section>
</section>
<section class="userInfo">
    <div class='video_uploader'>
    <div class='pictureAndChannelName'>
    <a class='linkToProfile' href="{% url 'other_profile' pk=video.user.id %}"><img class="user_profile_picture" src='{{video.user.profile.profile_picture.url}}'></a>


    <a class='linkToProfile' href="{% url 'other_profile' pk=video.user.id %}"><h5 class='channelName'>{{video.user.profile.channel_name}}</h5></a>
    </div>
    {% if user.is_authenticated %}
    <form class='subscribeForm' method='POST' enctype="multipart/form-data" novalidate>
        <input type='hidden' class='theSubscriberId' value={{request.user.id}}>
        <input type='hidden' class='theSubscribeeId' value={{video.user.id}}>
        <button type='submit' class='subscribeButton'>SUBSCRIBE</button>
    </form>
    {% endif %}
    
    </div>
    <div class='videoDescription'>
            <p class=descriptionText>{{ video.description }}</p>
    </div>
</section>




<section class=commentSection>
    {% if user.is_authenticated %}
    <form class='commentForm' method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <input class='user' type='hidden' name='user' value={{request.user.id}}>
        <input type='hidden' class='videoId' name='videoId' value={{video.id}}> 
        <input type='hidden' class='theusername' name='username' value={{request.user.username}}>
        <input type='hidden' class='commentUserPicture' value='{{request.user.profile.profile_picture.url}}'>
        <!-- <input class='commentBox' type='text' name='content' placeholder='Add a public comment...'> -->
        <div class="ui fluid action input">
                <input class='commentBox' type="text" name='content' placeholder="Add a public comment...">
                <div class="ui button">Add</div>
              </div>
        <button class='commentButton' type="submit">SUBMIT</button>
    </form>
    {% endif %}
    <div class='theComments'>
        <ul class='commentList'>
        {% for comment in video.comments.all %}

            <li class='commentAndUser'>
                <a href="{% url 'other_profile' pk=comment.user.id %}">
                <div class='commenterPic'>
                <img src={{comment.user.profile.profile_picture.url}} height='40px' width='auto' class='user_profile_image'>
                </div>
                </a>
                <div class='comment'>
                        <a href="{% url 'other_profile' pk=comment.user.id %}"><h5 class='theUser' data-id='{{comment.user}}'>{{comment.user}}</h5></a>
                    <p class='theComment'>{{comment.content}}</p>
                </div>

            </li>


    
        {% endfor %}
        </ul>
    </div>
</section>
</div>
<div class='aside'>
    <h3>Suggested For You</h3>
    {% for video in videos %}
    <div class='otherVideos'>
    <a class='suggested' href="{% url 'video_detail' pk=video.pk %}">
    <div class='videoThumbnail'>
    <video width="200px" height='180px'>
            <source src="{{video.video.url}}">
        </video>
    </div>
    <div class='suggestedVideoInfo'>
        <h5 class='suggestedVidInfo'>{{video.title}}</h5>
        <p class='suggestedVidInfo'>{{video.user.profile.channel_name}}</p>
        <h6 class='suggestedVidInfo'>{{video.views}} views</h6>
        </div>
    </a>
</div>
        
    {% endfor %}
    </div>
</div>
{% endblock %}